.about {
  border: solid black;
  margin: 2em 20%;
  padding: 2em;
}

.about-header h1 {
  margin-top: 0;
  padding: 0;
}

.about-description {
  margin: 20px 0;
  font-size: 18px;
}

nav {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 18px;
}

.about-visuals {
  margin-top: 2em;
  margin-bottom: 2em;
}

.visual {
  margin: 1em 0 2em;
}

@media only screen and (max-width: 600px) {
  .about {
    margin: 1em 1em;
    padding: 1.5em;
  }
}