.home {
  border: solid black;
  margin: 2em 20%;
  padding: 2em;
}

.home-header h1 {
  margin-top: 0;
  margin-bottom: 1em;
  padding: 0;
}

.header-description {
  margin: 20px 0;
  font-size: 18px;
}

.home nav {
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.home-visuals {
  margin-top: 2em;
  margin-bottom: 2em;
}

.visual {
  margin: 1em 0 2em;
}

.visual a {
  color: #9900ff;
}

.visual-img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s;
}

.img-container {
  background-color: #222222;
}

.visual-img:hover {
  opacity:0.8;
}

@media only screen and (max-width: 600px) {
  .home {
    margin: 1em 1em;
    padding: 1.5em;
  }
}